# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo=pd.read_csv(url,sep='\t')

'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [7]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [14]:
# Solution 1
chipo.shape[0]
chipo.shape

(4622, 5)

In [19]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [22]:
type(chipo.columns)
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [24]:
chipo.columns
chipo.keys

<bound method NDFrame.keys of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

### Step 8. How is the dataset indexed?

In [27]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [42]:
chipo
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [43]:
chipo.groupby('item_name')['quantity'].sum().max()

761

### Step 11. What was the most ordered item in the choice_description column?

In [57]:
chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [62]:
chipo['quantity'].sum()
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [64]:
chipo
type(chipo.item_price)

pandas.core.series.Series

#### Step 13.b. Create a lambda function and change the type of item price

In [73]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

TypeError: 'float' object is not subscriptable

#### Step 13.c. Check the item price type

In [78]:
# for i in range(len(chipo.item_price)):
    
#     print(type(chipo.item_price[i]))
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [85]:
chipo['sum_order']= [x*y for x,y in zip(chipo.quantity,chipo.item_price)] 
chipo.sum_order.sum()

39237.02

### Step 15. How many orders were made in the period?

In [112]:
# print(chipo.order_id)
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [96]:
# Solution 1
(chipo.quantity*chipo.item_price).sum()/chipo.order_id.value_counts().count()

21.39423118865867

In [102]:
# Solution 2


chipo.groupby('order_id')['sum_order'].sum().mean()#['sum_order']

21.394231188658654

### Step 17. How many different items are sold?

In [107]:
chipo.groupby('item_name').sum()

,order_id,quantity,item_price,sum_order
item_name,,,,
6 Pack Soft Drink,52322.0,55.0,356.95,369.93
Barbacoa Bowl,53972.0,66.0,672.36,672.36
Barbacoa Burrito,74718.0,91.0,894.75,894.75
Barbacoa Crispy Tacos,5613.0,12.0,120.21,138.71
Barbacoa Salad Bowl,9708.0,10.0,106.40,106.40
Barbacoa Soft Tacos,18725.0,25.0,250.46,250.46
Bottled Water,175944.0,211.0,302.56,649.18
Bowl,472.0,4.0,29.60,74.00
Burrito,1550.0,6.0,44.40,44.40
Canned Soda,76396.0,126.0,137.34,191.84
Canned Soft Drink,304753.0,351.0,438.75,603.75
Carnitas Bowl,62742.0,71.0,736.71,830.71
Carnitas Burrito,51652.0,60.0,597.83,616.33
Carnitas Crispy Tacos,5868.0,8.0,77.96,95.94
Carnitas Salad,1500.0,1.0,8.99,8.99
Carnitas Salad Bowl,6693.0,6.0,66.34,66.34
Carnitas Soft Tacos,37673.0,40.0,375.94,375.94
Chicken Bowl,713926.0,761.0,7342.73,8044.63
Chicken Burrito,497303.0,591.0,5575.82,6387.06
Chicken Crispy Tacos,47382.0,50.0,472.13,524.11
Chicken Salad,10465.0,9.0,81.09,81.09
Chicken Salad Bowl,117104.0,123.0,1228.75,1506.25
Chicken Soft Tacos,98395.0,120.0,1108.09,1199.01
Chips,208004.0,230.0,494.34,580.34
Chips and Fresh Tomato Salsa,100419.0,130.0,361.36,1033.96
Chips and Guacamole,449959.0,506.0,2201.04,2475.62
Chips and Mild Fresh Tomato Salsa,279.0,1.0,3.00,3.00
Chips and Roasted Chili Corn Salsa,14999.0,23.0,67.85,73.75
Chips and Roasted Chili-Corn Salsa,17462.0,18.0,43.02,43.02
Chips and Tomatillo Green Chili Salsa,41170.0,45.0,132.75,144.55
Chips and Tomatillo Red Chili Salsa,45556.0,50.0,147.50,159.30
Chips and Tomatillo-Green Chili Salsa,21826.0,33.0,78.87,88.43
Chips and Tomatillo-Red Chili Salsa,18344.0,25.0,59.75,93.21
Crispy Tacos,434.0,2.0,14.80,14.80
Izze,10587.0,20.0,67.80,67.80
Nantucket Nectar,21814.0,29.0,98.31,111.87
Salad,1150.0,2.0,14.80,14.80
Side of Chips,84769.0,110.0,185.90,290.68
Steak Bowl,193752.0,221.0,2260.19,2479.81
Steak Burrito,328437.0,386.0,3851.43,4236.13
Steak Crispy Tacos,35818.0,36.0,357.34,375.32
Steak Salad,2362.0,4.0,35.66,35.66
Steak Salad Bowl,29590.0,31.0,343.59,391.15
Steak Soft Tacos,50177.0,56.0,536.05,554.55
Veggie Bowl,72270.0,87.0,867.99,901.95
Veggie Burrito,80962.0,97.0,934.77,1002.27
Veggie Crispy Tacos,668.0,1.0,8.49,8.49
Veggie Salad,7265.0,6.0,50.94,50.94
Veggie Salad Bowl,17303.0,18.0,182.50,182.50
Veggie Soft Tacos,5520.0,8.0,73.96,90.94

In [110]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64