In [2]:
import pandas as pd
import numpy as np

In [6]:
data = {'team' : ['russia', 'saudiarabia', 'egypt', 'uruguay'],
        'against': ['saudiarabia', 'russia', 'uruguay', 'egypt'],
        'fifa_rank': [65, 63, 31, 21]}
columns = ['team', 'against', 'fifa_rank']
df = pd.DataFrame(data, columns = columns)

In [8]:
df

          team      against  fifa_rank
0       russia  saudiarabia         65
1  saudiarabia       russia         63
2        egypt      uruguay         31
3      uruguay        egypt         21

In [13]:
def gogo(x):
    return [0,1,2,3,]

In [14]:
df['winning_rate']  = df['team'].map(lambda x : gogo(x)[3])

In [15]:
df['winning_rate']

0    3
1    3
2    3
3    3
Name: winning_rate, dtype: int64